{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <h1>À propos</h1>
    <div class="game-list-container">
        <table class="game-table">
            <thead>
                <tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <th>
                            Client N°
                        </th>
                    {% endif %}

                    <th>Email</th>

                    {% if 'ROLE_ADMIN' in user.roles %}
                        <th>
                            Role
                        </th>
                    {% endif %}

                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th>Date de naissance</th>
                    <th>Nom d'utilisateur</th>
                    <th>N° de tel</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <td>
                            {{ user.id }}
                        </td>
                    {% endif %}

                    <td>{{ user.email }}</td>

                    {% if 'ROLE_ADMIN' in user.roles %}
                        <td>
                            {% if 'ROLE_ADMIN' in user.roles %}
                                Administrateur
                            {% elseif 'ROLE_USER' in user.roles %}
                                Utilisateur
                            {% else %}
                                {{ user.roles ? user.roles|json_encode : '' }}
                            {% endif %}
                        </td>
                    {% endif %}
                    </td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
                    <td>{{ user.username ? user.username : 'N/A' }}</td>
                    <td>{{ user.phone ? user.phone : 'N/A' }}</td>
                    <td>{{ user.address ? user.address : 'N/A' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="action-buttons">
        <div>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-edit">Éditer</a>
        </div>

        <div>
            <a href="{{ path('app_home') }}" class="btn btn-back">
                <i class="fas fa-arrow-left"></i> Retour à l'accueil</a>
        </div>
    </div>


{% endblock %}
