
<div class="game-detail-card">

	<div class="game-detail-image">
        <img src="{{asset('camping/location_images/' ~ rental.image)}}" alt="{{rental.title}}">
	</div>

	<div class="game-detail-content">
		<p class="game-title">{{ rental.title }}</p>
		<p class="title-description">Description :</p>
		<p class="description">{{ rental.description }}</p>

        {# Si capacité > 1, alors afficher personne au pluriel #}
        {% if rental.capacity > 1 %}
            <p>Peut accueillir jusqu'à {{rental.capacity}} personnes</p>
        {% else %}
            <p>Peut accueillir jusqu'à {{rental.capacity}} personne</p>
        {% endif %}

        <p>Emplacement n° {{rental.nbrLocalization}}</p>

        <p>{{rental.type_rental_label}}</p>

        {# Equipments #}
        {# If equipments are not null, show the equipments #}
        {% if rental.equipments is not empty and rental.equipments[0] is not null %}
            <p>Equipements :</p>
            <ul>
                {% for equipment in rental.equipments %}
                    <li>{{ equipment }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        {% include "components/_seasonsPrice.html.twig" %}

	</div>
</div>
